In [7]:
# import and read the csv dataset
import numpy as np
import pandas as pd
# Flights from Houston,TX data set
flights = pd.read_csv("https://github.com/kiat/Elements-of-Data-Analytics/blob/main/datasets/airline/HoustonAirline.csv?raw=true") 
flights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241100,2008,12,12,5,1122.0,1040,1418.0,1342,DL,50,...,9.0,15.0,0,NaN,0,3.0,0.0,0.0,0.0,33.0
241101,2008,12,12,5,546.0,545,1011.0,849,DL,668,...,16.0,86.0,0,NaN,0,0.0,0.0,82.0,0.0,0.0
241102,2008,12,12,5,1114.0,1050,1406.0,1349,DL,1292,...,11.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,14.0
241103,2008,12,13,6,1612.0,1614,1910.0,1919,DL,8,...,16.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
241104,2008,12,13,6,1222.0,1050,1519.0,1346,DL,50,...,11.0,19.0,0,NaN,0,0.0,0.0,1.0,0.0,92.0

In [23]:
# Question 4
"""We can identify each specific airplane using the "TailNum" column of this dataset. 
Develop a Python Pandas implementation that can find the most frequently used airplane within this dataset."""

# find how many times each tail number was used, find the max and save that ID
tailID = flights['TailNum'].value_counts().idxmax()

print('Most frequent tail ID:', tailID)

Most frequent tail ID: N14937

In [28]:
# Question 5
"""Over the entire dataset, which day of the week has the highest flight traffic (i.e. the busiest day of the week)?
Include canceled flights in your calculation."""

# find how many flights occured on every day, find the max, and save the ID for that day of week
maxDOW = flights['DayOfWeek'].value_counts().idxmax()
print('Busiest day of the week:', maxDOW)

Busiest day of the week: 5

In [31]:
# Question 6
"""Is there a correlation between departure delay "DepDelay" and arrival delay "ArrDelay"?
Consider only flights that have a departure delay larger than one and an arrival delay larger than one.  
Calculate the correlation coefficient between these two vectors."""

# filter data so only flights with a departure and arrival delay > 1 are considered
delayedFlights = flights[(flights['DepDelay']>1) & (flights['ArrDelay']>1)]

# calculate correlation between departure delay and arrival delay
corr = delayedFlights['DepDelay'].corr(delayedFlights['ArrDelay'])
print("Correlation between departure and arrival delay:", corr)

Correlation between departure and arrival delay: 0.932427965367927

In [59]:
# Question 7
"""We will be considering the actual elapsed flight time "ActualElapsedTime" and the travel distance "Distance".
Create a simple linear regression model between these two values for predicting "ActualElapsedTime" using the "Distance" as the explanatory variable. 
Remove flights that do not have an "ActualElapsedTime" or "Distance" value, or their values are NaN or Infinity. """
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# clean the data set to remove rows were actual ecplipsed time or distance do not have a value, are NaN, or are infinity
cleanFlights = flights.dropna(subset=['ActualElapsedTime', 'Distance'])

# find correlation between ActualElapsedTime and Distance
c = cleanFlights['ActualElapsedTime'].corr(cleanFlights['Distance'])

# prepare data for analysis then fit to linear regression model
X = cleanFlights[['Distance']]
y = cleanFlights[['ActualElapsedTime']]
model = LinearRegression()
model.fit(X, y)
slope = model.coef_[0]
intercept = model.intercept_

# predict data from the calculated slope and find how well it fits the data
predictY = model.predict(X)
rSq = r2_score(y, predictY)


print('Correlation between ActualElapsedTime and Distance:', c)
print("Linear Regression Equation: ActualElapsedTime = ", slope, "*Distance + ", intercept, sep='')
print("R-squared for the model:", rSq)

Correlation between ActualElapsedTime and Distance: 0.9667586070679115
Linear Regression Equation: ActualElapsedTime = [0.12759982]*Distance + [30.76281009]
R-squared for the model: 0.9346222043399015