# Add YOUR Names and IDs 


# Name: 
# ID: 

# Name: 
# ID:

# In-Class Activity


https://www.kaggle.com/datasets/bhavikjikadara/loan-status-prediction

 ## About Dataset
In this Loan Status Prediction dataset, we have the data of applicants who previously applied for the loan based on the property 
which is a Property Loan.
The bank will decide whether to give a loan to the applicant based on some factors such as Applicant Income, Loan Amount, previous 
Credit History, Co-applicant Income, etc…
Our goal is to build a Machine Learning Model to predict the loan to be approved or to be rejected for an applicant.
About the loan_data.csv file:

 * Loan_ID: A unique loan ID.
 * Gender: Either male or female.
 * Married: Weather Married(yes) or Not Marttied(No).
 * Dependents: Number of persons depending on the client.
 * Education: Applicant Education(Graduate or Undergraduate).
 * Self_Employed: Self-employed (Yes/No).
 * ApplicantIncome: Applicant income.
 * CoapplicantIncome: Co-applicant income.
 * LoanAmount: Loan amount in thousands.
 * Loan_Amount_Term: Terms of the loan in months.
 * Credit_History: Credit history meets guidelines.
 * Property_Area: Applicants are living either Urban, Semi-Urban or Rural.
 * Loan_Status: Loan approved (Y/N).

#  Goal:
In this project, we are going to classify an individual whether he/she can get the loan amount based on his/her Income, Education, 
Working Experience, Loan taken previously, and many more factors.
Let’s get more into it by looking at the data.

In [1]:
import numpy as np
import pandas as pd

import sklearn
# sklearn.show_versions()

from matplotlib import pyplot
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report


from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB


from sklearn.gaussian_process.kernels import RBF

from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

from sklearn.preprocessing import StandardScaler

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [4]:
# Update your 
# ! pip install threadpoolctl==3.3.0

# Load the dataset

In [2]:
loans = pd.read_csv("loan_data.csv")

loans

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

# Use Imputation to fill in missing values

Target classification label is "Loan_Status"

In [3]:
# We have so many missing values
loans.isnull().sum()

Loan_ID               0
Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

# Task - 1 : 
* Fill the missing values with the average of it, if it is a quantitivative variable 
* Fill the missing values of a categorical variable with the category that has the max frequency

In [4]:
# Add your Solution here 

# fill the "Loan_Amount_Term" with the average of it 
loan_amount_term_mean = loans["Loan_Amount_Term"].mean(skipna=True)
loans["Loan_Amount_Term"].fillna(value=loan_amount_term_mean, inplace=True)


# Fill the missing values of a categorical variable with the category that has the median frequency

In [9]:
loans["Gender"].value_counts()

Gender
Male      291
Female     85
Name: count, dtype: int64

In [13]:
loans["Gender"].fillna(value="Male", inplace=True)
loans["Gender"].value_counts()

Gender
Male      296
Female     85
Name: count, dtype: int64

In [10]:
loans["Credit_History"].value_counts()

Credit_History
1.0    294
0.0     57
Name: count, dtype: int64

In [11]:
loans["Self_Employed"].value_counts()

Self_Employed
No     325
Yes     35
Name: count, dtype: int64

In [12]:
loans["Dependents"].value_counts()

Dependents
0     234
2      59
1      52
3+     28
Name: count, dtype: int64

In [8]:
# Add your Solution here 
# Fill the missing values of a categorical variable with the category that has the median frequency

def fill_cat(cat_column):
    """Define a Function for it here"""


    
# Then Call it for different variables. 
fill_cat("Gender")
fill_cat("Credit_History")
fill_cat("Self_Employed")
fill_cat("Dependents")

In [9]:
# Check again if the 
loans.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Prepare the dataset for modeling 

Use one-hot encoding to convert categorical data features

In [10]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             381 non-null    object
 2   Married            381 non-null    object
 3   Dependents         381 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      381 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   381 non-null    float64
 10  Credit_History     381 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [11]:
# Lables - Class lables are converted to 0 or 1 instead of N and Y
Y = loans["Loan_Status"].map({'N': 0, 'Y': 1})
print(Y.value_counts())

# Convert the categorical feature into numerical form
le = LabelEncoder()
y_encoded = le.fit_transform(loans["Loan_Status"])
y_encoded

Loan_Status
1    271
0    110
Name: count, dtype: int64

array([0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0])

In [12]:
# Drop this lablel columun 
del loans["Loan_Status"]

# ID has no meaning here 
del loans["Loan_ID"]

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

# Assuming df is your DataFrame with categorical and numerical columns
# Assuming cat_columns is a list of your categorical columns
# Assuming num_columns is a list of your numerical columns

# Initialize encoders for numerical and categorical columns
numerical_transformer = 'passthrough'
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

num_columns = ["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Loan_Amount_Term", "Credit_History" ]

cat_columns = ["Gender", "Married", "Dependents", "Education", "Self_Employed", "Property_Area"]

# Combine encoders into a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, num_columns),
        ('cat', categorical_transformer, cat_columns)
    ])

# Fit and transform the data
encoded_data = preprocessor.fit_transform(loans)
print(" X dataset shape: ", encoded_data.shape)
print(" Y Labels  shape: ", Y.shape)

X = encoded_data

X

 X dataset shape:  (381, 20)
 Y Labels  shape:  (381,)

array([[4.583e+03, 1.508e+03, 1.280e+02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [3.000e+03, 0.000e+00, 6.600e+01, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [2.583e+03, 2.358e+03, 1.200e+02, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [2.900e+03, 0.000e+00, 7.100e+01, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [4.106e+03, 0.000e+00, 4.000e+01, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [4.583e+03, 0.000e+00, 1.330e+02, ..., 0.000e+00, 1.000e+00,
        0.000e+00]])

# Task 2: Scale the dataset using MinMaxScaler

In [14]:
from sklearn.preprocessing import MinMaxScaler

# Add your code here ... 


# transform the data using the fitted scaler
scaled_X_array_2d = ... 
scaled_X_array_2d

array([[0.46404271, 0.0445666 , 0.84397163, ..., 1.        , 0.        ,
        0.        ],
       [0.2983356 , 0.        , 0.40425532, ..., 0.        , 0.        ,
        1.        ],
       [0.25468439, 0.06968703, 0.78723404, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.28786769, 0.        , 0.43971631, ..., 1.        , 0.        ,
        0.        ],
       [0.41411075, 0.        , 0.21985816, ..., 1.        , 0.        ,
        0.        ],
       [0.46404271, 0.        , 0.87943262, ..., 0.        , 1.        ,
        0.        ]])

In [15]:
# Create Test/Train
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_X_array_2d, Y, test_size=0.2, random_state=123)

# Task 3: Apply Logistic Regression

- Report the Model Accuracy and F1 Score

In [16]:
# add your code here 
model = 
model.fit(X_train,y_train)


#  Classification Report

0.8441558441558441
              precision    recall  f1-score   support

           0       0.88      0.58      0.70        24
           1       0.84      0.96      0.89        53

    accuracy                           0.84        77
   macro avg       0.86      0.77      0.80        77
weighted avg       0.85      0.84      0.83        77

# Task 4: Apply Support Vector Machine

- Report the Model Accuracy and F1 ScoreApply Support Vector Machine 
- Try using different kernels

In [17]:
# add your code here 
model = 
model.fit(X_train,y_train)


#  Classification Report

0.8441558441558441
              precision    recall  f1-score   support

           0       0.88      0.58      0.70        24
           1       0.84      0.96      0.89        53

    accuracy                           0.84        77
   macro avg       0.86      0.77      0.80        77
weighted avg       0.85      0.84      0.83        77

In [18]:
# add your code here 
model = 
model.fit(X_train,y_train)


#  Classification Report

0.7532467532467533
              precision    recall  f1-score   support

           0       0.69      0.38      0.49        24
           1       0.77      0.92      0.84        53

    accuracy                           0.75        77
   macro avg       0.73      0.65      0.66        77
weighted avg       0.74      0.75      0.73        77

# Task 5: Apply kNN

- Report the Model Accuracy and F1 ScoreApply Support Vector Machine 
- try different k = 3, 4, 5 ,6

In [21]:
from sklearn.neighbors import KNeighborsClassifier

# add your code here 
model = 
model.fit(X_train,y_train)


#  Classification Report

0.8051948051948052
              precision    recall  f1-score   support

           0       0.71      0.62      0.67        24
           1       0.84      0.89      0.86        53

    accuracy                           0.81        77
   macro avg       0.78      0.76      0.76        77
weighted avg       0.80      0.81      0.80        77

# Task 6: Apply Desision Trees 

* Try to achview highest acc and F1 score

In [29]:
from sklearn import tree
# add your code here 
model = 
model.fit(X_train,y_train)


#  Classification Report

0.6103896103896104
              precision    recall  f1-score   support

           0       0.44      0.92      0.59        24
           1       0.93      0.47      0.62        53

    accuracy                           0.61        77
   macro avg       0.68      0.69      0.61        77
weighted avg       0.77      0.61      0.62        77

# Task 7: Perform Cross Validation with k=5 and calculate the average cross validation score using your Support Vector Machine, and Desision Trees 

Here is an example code for Logistic Regression

In [31]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression


# Create a Logistic Regression model
model = LogisticRegression()

# Perform 5-fold cross-validation
scores = cross_val_score(model, X_train, y_train, cv=5)

# Calculate the average cross-validation score
average_score = scores.mean()

# Print the average cross-validation score
print(f"Average Cross-Validation Score: {average_score}")

Average Cross-Validation Score: 0.8419125683060109

In [ ]:
# add your code here

# Task 8 - Remove one or more of the data features, and use different models. 
Check if you can improve the model performance if some of the features are removed.